@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  height: 100vh;
}

#root {
  display: flex;
  gap: 16px;
}

#game {
  border: 1px solid gray;
  background-color: white;
}

#score {
  top: 250px;
}

#record {
  top: 290px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: #333333;
  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
  min-width: 300px;
}

.button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: 4px 4px 0px #000;
  cursor: pointer;
  border: none;
}

#start {
  background: #5ad561;
}

#start:hover {
  background: #49b74e;
  box-shadow: 2px 2px 0px #000;
}

#pause {
  background: #f4c542;
  display: none;
}

#pause:hover {
  background: #d9a92f;
  box-shadow: 2px 2px 0px #000;
}

#mute {
  background: none;
  border: none;
  font-size: 24px; /* Размер иконки */
  cursor: pointer;
  color: #333333; /* Цвет иконки */
  transition: color 0.2s;
}

#mute:hover {
  color: #000; /* Тёмнее при наведении */
}

#mute:focus {
  outline: none; /* Убираем обводку */
}

.controls {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
